
.container {
    display: block;
    margin: 80px auto;
    text-align: left;
    font-size: 20px;
    width: 50%;
    color: purple;
    padding: 80px;
    border: solid purple;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    
}
.hide {
    display: none;
}

button {
    text-align: center;
    width: 100px;
    height: 50px;
    border: solid purple;
    color: purple;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    }

  button:hover {
    opacity: 0.5;
  }


.timer {
    color: purple;
    text-align: right;
    }

.submit {
    color: purple;
    float: right; 
}
